span.class[div]{
    display:inline-grid;
    grid-auto-flow: dense;
    align-items: center;
}

.container {
    display: grid;
    height: 100vmax;
    grid-template-columns: minmax(200px, 1fr) minmax(300px, 2fr);
    grid-template-rows: repeat(4 2fr) 3fr;
    grid-gap: 10px;
    background-color: #006f3b;
    margin: 0 50px 0 50px;
    overflow: visible;
    font-family: 'Playfair Display', serif;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: #006f3b;
    padding-top: 6px;
}
img {
    padding: 6px;
    height: 100px;
    filter: drop-shadow(2px 4px 5px #4c4c4c);
}
#title {
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
    text-shadow: 2px 4px 5px rgba(0,0,0,0.4);
    font-size: 2.5em;
}
.statsColumn {
    margin: 0 10% 0 10%;
    display: flex;
    flex-direction: column;
    grid-column: 1/2;
    grid-row: 2/5;
    background-color: #006f3b;
}
#bagsOdometer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: helvetica;
    font-kerning: .5em;
    font-size: 3em;
    height: 100%;
    grid-area: 2/1/3/2;
    text-shadow: 1px 1px 4px black;
}
.bagCounter {
    color: white;
    text-shadow: 1px 1px black;
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    grid-area: 2/1/3/2;
    font-family: helvetica;
    font-size: 1.5em;
    height: 66%;
    background-color: #70A3AB;
    margin: 6% 15% 6% 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}
#usersOdometer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: helvetica;
    font-size: 3em;
    height: 100%;
    grid-area: 3/1/4/2;
    text-shadow: 1px 1px 4px black;
}
.userCounter {
    color: white;
    text-shadow: 1px 1px black;
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    grid-area: 3/1/4/2;
    font-family: helvetica;
    font-size: 1.5em;
    height: 66%;
    background-color: #70A3AB;
    margin: 6% 15% 6% 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}
#teamsOdometer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: helvetica;
    grid-area: 4/1/5/2;
    font-size: 3em;
    height: 100%;
    text-shadow: 1px 1px 4px black;
}
.teamCounter {
    color: white;
    background-color: #70A3AB;
    text-shadow: 1px 1px black;
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    grid-area: 4/1/5/2;
    font-family: Helvetica;
    font-size: 1.5em;
    height: 66%;
    margin: 6% 15% 6% 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}
.chart {
    grid-column: 1/3;
    grid-row: 5/6;
    background-color: #ededed;
    border-radius: 5px;
}
.mapColumn {
    grid-column: 2/3;
    grid-row: 3/5;  
}
#mapid {
    border-radius: 5px;
    z-index: 10;
    height: 700px;
    width: 100%;
}
.mapFilter {
    display:block;
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: #87c656;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}
input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    align-content: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    width:16px;
    height:16px;
    border: 5px solid #006f3b;
    transition: 0.2s all linear;
    outline: none;
    margin-right: 5px;
    z-index: 5;
}
label{
padding-left: 23px;
}

input:checked {
    border: 6px solid black;
  }
.info {
    font-size: 15px;
    padding: 8px;
    width: 100%;
    background: white;
    background: rgb(251, 175, 76);
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    border: 1px solid black;
    border-radius: 4px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
#zoomBtn{
    text-align: center;
    display: none;
    margin-left: 10px;
    padding: 6px;
    height: auto;
    width: auto;
    background: rgb(153, 194, 207);
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    cursor: pointer

}
#zoomBtn:hover {
    background-color: rgba(236, 236, 236)
}
#bagCounterLabel {
    z-index: 1;
}
#teamCounterLabel {
    z-index: 1;
}
#userCounterLabel {
    z-index: 1;
}
#loadingScreen {
    height: 50%;
    width: 50%;
    background-color: rgba(255,255,255,.8);
    z-index: 20;
    display: block;
    position: absolute;
    top: 25%;
    left: 25%;
    border-radius: 15px;
}
#loadingText{
    position: absolute;
    top: 50%;
    font-size: 25px;
    padding-left: 44%;
   
}
#toChart {
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 6px;
    /* width: 100px; */
    font-size: 1em;
    background: rgb(153, 194, 207);
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    cursor: pointer;
    z-index: 5;
}
#toChart a{
    text-decoration: none;
    color: black;
    font-family: helvetica;
}
#toChart:hover{
    background-color: rgba(236, 236, 236)
}
#mapTobtn {
    grid-column: 2/3;
    grid-row: 5/6;
    padding: 6px;
    height: 35px;
    width: 100px;
    margin: 3% 0 0 70%;
    font-size: 1em;
    border: 1px solid black;
    background: rgba(121, 197, 209, 0.8);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    cursor: pointer;
    z-index: 5;
}
#mapTobtn a{
    text-decoration: none;
    color: black;
    font-family: helvetica;
}
#mapTobtn:hover{
    background-color: rgba(236, 236, 236)
}
#printBtn{
    
}
@media print {
   body {
   max-width: 400px;
   }
   #mapid {
    width: 600px;
    margin-top: -29px;
   }
   .mapFilter{
       display: none;
   }
   #title{
    display: none;
   }
   header{
    height: 20px;
   }
   #mapTobtn{
    display: none;
   }
   img{
       display: none;
   }
  .info{
      display: none;
  }
  .chart{
      width: 800px;
  }
  .leaflet-control-attribution{
    display:none;
}
}