.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 3fr 3fr 3fr;
    margin: 0;
    overflow: hidden;
  }
header, image {
    padding: 5px;
}
header{
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #006f3b;
}
.container, .sideBar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 5;
    background-color: blanchedalmond;
} 
.checkBoxes {

}
.statsColumn{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 5;
    background-color:darkkhaki; 
}

.mapColumn{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 5;
    background-color: darkcyan;
}
.theMap {
    text-align: center;
}

#teamCheck{
    padding-top: 16px;
    padding-bottom: 16px
}

#volunteerCheck {
    padding-bottom: 16px
}

#trashCheck{
    padding-bottom: 16px
}

